@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme{
  --font-sans: 'Poppins', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
  --color-green: #206276;
  --gris-fondo: #F2F2F2;
}

@layer base {
  body {
    background-color: var(--gris-fondo);
    
  }
}


@keyframes pulsate-fwd-normal {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.pulsate-fwd-normal:hover { 
   animation: pulsate-fwd-normal 1.5s ease 0s infinite normal none; 
}

@keyframes fall-and-fade {
  0% {
    /* Empieza en el cursor */
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    /* Termina 100px más abajo, rotado y transparente */
    transform: translate(15px, 100px) rotate(30deg);
    opacity: 0;
  }
}

/* 3. Definimos el estilo de la hoja */
.leaf {
  /* ¡Importante! Fijo en la pantalla */
  position: fixed; 
  
  /* Para que no puedas hacerle clic */
  pointer-events: none; 
  
  /* Puedes usar un emoji */
  font-size: 1.5rem; /* 24px */

  /* ¡Aquí conectamos la animación! */
  /* 'fall-and-fade' = nombre de la animación
     '2s' = duración de 2 segundos
     'forwards' = se queda en el estado final (opacity: 0)
  */
  animation: fall-and-fade 2s forwards ease-out;
}

/* Animacion show */
  @keyframes fade-in-top {0% { transform: translateY(-50px); opacity: 0; } 100% { transform: translateY(0); opacity: 1;} }

.fade-in-top-normal { 
    animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both; 
}


/* Animacion fade desde la derecha */
  @keyframes fade-in-right {0% { transform: translateX(50px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.fade-in-right-normal { 
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both; 
}

/* Animacion fade desde la izquierda */

  @keyframes fade-in-left {0% { transform: translateX(-50px); opacity: 0; } 100% { transform: translateX(0); opacity: 1;} }

.fade-in-left-normal { 
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both; 
}